riseteknoloji/UserApi/bin/*
riseteknoloji/UserApi/obj/*
riseteknoloji/UserApi/publish/*

riseteknoloji/CoreLayer/bin/*
riseteknoloji/CoreLayer/obj/*

riseteknoloji/riseteknoloji/bin/*
riseteknoloji/riseteknoloji/obj/*

riseteknoloji/UserBusiness/bin/*
riseteknoloji/UserBusiness/obj/*

riseteknoloji/UserDataAccess/bin/*
riseteknoloji/UserDataAccess/obj/*

riseteknoloji/UserEntity/bin/*
riseteknoloji/UserEntity/obj/*